# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

In [4]:
# Seu código aqui
anomaliaTermicaDados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomaliaTermicaSerie = pd.Series(anomaliaTermicaDados)
anomaliaTermicaSerie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
# seu código aqui
anomaliaTermicaIndice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomaliaTermicaSerie = pd.Series(data=anomaliaTermicaDados, index=anomaliaTermicaIndice)
anomaliaTermicaSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(data=dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [15]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(data=arr)
df

             0           1           2
0    97.404086   82.991691  106.639746
1   106.340803   91.778788   98.471046
2   104.787896   98.345543  107.217759
3    96.451133   85.338928  111.299517
4   111.489000  101.991985  101.087364
5   107.855963   85.739337   98.804819
6   116.209228   90.838117  105.022999
7   115.093108   98.218757  109.922543
8    94.660580  110.417239   99.682302
9   101.686471   85.791150   95.171740
10  106.858361  103.375030  107.295782
11  107.883041   94.793874   88.001911
12  102.720626  107.392630  105.292037
13  114.235939   92.730507  102.537867
14  104.527707  101.663367  106.016807
15   82.906321   85.794888   83.560114
16  106.139738   93.211582  105.232357
17  105.536907   84.939368  104.866420
18   86.234450   99.961732   85.054297
19  111.048070  109.305375   95.437401

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [22]:
#seu código aqui
df.columns = ['x1', 'x2', 'x3']
df.index = list(range(1, 21))
df

            x1          x2          x3
1    97.404086   82.991691  106.639746
2   106.340803   91.778788   98.471046
3   104.787896   98.345543  107.217759
4    96.451133   85.338928  111.299517
5   111.489000  101.991985  101.087364
6   107.855963   85.739337   98.804819
7   116.209228   90.838117  105.022999
8   115.093108   98.218757  109.922543
9    94.660580  110.417239   99.682302
10  101.686471   85.791150   95.171740
11  106.858361  103.375030  107.295782
12  107.883041   94.793874   88.001911
13  102.720626  107.392630  105.292037
14  114.235939   92.730507  102.537867
15  104.527707  101.663367  106.016807
16   82.906321   85.794888   83.560114
17  106.139738   93.211582  105.232357
18  105.536907   84.939368  104.866420
19   86.234450   99.961732   85.054297
20  111.048070  109.305375   95.437401

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [23]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3

df

            x1          x2          x3       media
1    97.404086   82.991691  106.639746   95.678508
2   106.340803   91.778788   98.471046   98.863545
3   104.787896   98.345543  107.217759  103.450399
4    96.451133   85.338928  111.299517   97.696526
5   111.489000  101.991985  101.087364  104.856116
6   107.855963   85.739337   98.804819   97.466706
7   116.209228   90.838117  105.022999  104.023448
8   115.093108   98.218757  109.922543  107.744803
9    94.660580  110.417239   99.682302  101.586707
10  101.686471   85.791150   95.171740   94.216454
11  106.858361  103.375030  107.295782  105.843058
12  107.883041   94.793874   88.001911   96.892942
13  102.720626  107.392630  105.292037  105.135098
14  114.235939   92.730507  102.537867  103.168105
15  104.527707  101.663367  106.016807  104.069293
16   82.906321   85.794888   83.560114   84.087108
17  106.139738   93.211582  105.232357  101.527892
18  105.536907   84.939368  104.866420   98.447565
19   86.234450   99.961732   85.054297   90.416826
20  111.048070  109.305375   95.437401  105.263615

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [24]:
# seu código aqui
df['lo_med'] = np.log(df['media'])

df

            x1          x2          x3       media    lo_med
1    97.404086   82.991691  106.639746   95.678508  4.560994
2   106.340803   91.778788   98.471046   98.863545  4.593741
3   104.787896   98.345543  107.217759  103.450399  4.639092
4    96.451133   85.338928  111.299517   97.696526  4.581866
5   111.489000  101.991985  101.087364  104.856116  4.652589
6   107.855963   85.739337   98.804819   97.466706  4.579511
7   116.209228   90.838117  105.022999  104.023448  4.644616
8   115.093108   98.218757  109.922543  107.744803  4.679765
9    94.660580  110.417239   99.682302  101.586707  4.620913
10  101.686471   85.791150   95.171740   94.216454  4.545595
11  106.858361  103.375030  107.295782  105.843058  4.661957
12  107.883041   94.793874   88.001911   96.892942  4.573607
13  102.720626  107.392630  105.292037  105.135098  4.655246
14  114.235939   92.730507  102.537867  103.168105  4.636360
15  104.527707  101.663367  106.016807  104.069293  4.645057
16   82.906321   85.794888   83.560114   84.087108  4.431853
17  106.139738   93.211582  105.232357  101.527892  4.620334
18  105.536907   84.939368  104.866420   98.447565  4.589524
19   86.234450   99.961732   85.054297   90.416826  4.504430
20  111.048070  109.305375   95.437401  105.263615  4.656468